Repository nih71/devops-aula07, pull requests merged in 2018-03, with the labels that each got.

#3 Integrar requisitos v1.0
  docs/requisitos.md
Labels: Analise

#5 Create arquitetura.md
  docs/arquitetura.md
Labels: Arquitetura

#7 Create jogovelha.py
  src/jogovelha.py
Labels: Programação

#9 V1.0 teste
  src/testes_inic.py
  src/testes_jogar.py
Labels: testes

#10 Gerar release v1.0
  docs/arquitetura.md
  docs/requisitos.md
  src/jogovelha.py
  src/testes_inic.py
  src/testes_jogar.py
Labels: Analise, Arquitetura, Programação, operações, testes

#12 Integrar requisitos v1.0
  docs/requisitos.md
Labels: Analise

#14 Integrar arquitetura v1.0
  docs/arquitetura.md
Labels: Arquitetura

#16 Integrar testes v1.0
  src/testes_inic.py
Labels: testes

#18 Integrar implementação v1.0
  src/efetuajogada.py
Labels: Programação
